{{ $contact := .Site.Data.contact_info }}
<footer class="bg-primary ph3 pv5 white">
	<div class="mw8 center">
		<div class="flex-ns flex-wrap justify-between">
			<div class="w-100 w-30-l mb4 mb0-l">
				<img src="/img/logo.svg" alt="Case Vacanza logo" class="db w4 mb3 white"/>
				<h3 class="f4 lh-title light-gray mb2">Case Vacanza</h3>
				<p class="f6 lh-copy">{{ $contact.tagline }}</p>
			</div>

			<div class="w-100 w-20-l mb4 mb0-l">
				<h3 class="f5 b mb3 white ttu tracked">Menu Rapido</h3>
				<ul class="list pl0">
					<li class="mb2"><a href="/" class="link white-80 hover-white">Home</a></li>
					<li class="mb2"><a href="/properties" class="link white-80 hover-white">Proprietà</a></li>
					<li class="mb2"><a href="/contact" class="link white-80 hover-white">Contatti</a></li>
				</ul>
			</div>

			<div class="w-100 w-20-l mb4 mb0-l">
				<h3 class="f5 b mb3 white ttu tracked">Informazioni di Contatto</h3>
				<ul class="list pl0">
					<li class="mb2"><a href="tel:{{ $contact.phone }}" class="link white-80 hover-white">{{ $contact.phone }}</a></li>
					<li class="mb2"><a href="mailto:{{ $contact.email }}" class="link white-80 hover-white">{{ $contact.email }}</a></li>
				</ul>
			</div>

			<div class="w-100 w-20-l">
				<h3 class="f5 b mb3 white ttu tracked">Social Media</h3>
				<div class="flex">
					{{ partial "social-icon" (dict "link" $contact.social.facebook "svg" "icons-facebook" "alt" "Facebook") }}
					{{ partial "social-icon" (dict "link" $contact.social.instagram "svg" "icons-instagram" "alt" "Instagram") }}
				</div>
			</div>
		</div>
	</div>

	<div class="tc mt5">
		<p class="f6 white-60">&copy; {{ now.Year }} Case Vacanza. Tutti i diritti riservati.</p>
	</div>
</footer>

