{{ define "main" }}

<div class="bg-off-white pv5">
  <div class="ph3 mw8 center">
    <h1 class="f2 lh-title b mb4">{{.Title}}</h1>
    
    <div class="flex flex-wrap mhn2-ns mb5">
      <div class="w-100 w-60-ns ph2-ns">
        <div class="relative">
          <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-100 br2">
        </div>
        
        <!-- Image Gallery -->
        <div class="property-detail__gallery">
          {{ range .Params.gallery }}
          <div class="property-detail__gallery-item">
            <img src="{{ .image }}" alt="{{ .alt }}">
          </div>
          {{ end }}
        </div>
      </div>
      
      <div class="w-100 w-40-ns ph2-ns">
        <div class="property-detail__sidebar">
          <p class="f3 b mb3 primary">{{ .Params.price }}</p>
          <p class="mb3"><strong>Location:</strong> {{ .Params.location }}</p>
          
          <div class="flex flex-wrap mb4">
            <div class="w-third mb3">
              <span class="db f6 grey-3">Bedrooms</span>
              <span class="f4 b">{{ .Params.bedrooms }}</span>
            </div>
            <div class="w-third mb3">
              <span class="db f6 grey-3">Bathrooms</span>
              <span class="f4 b">{{ .Params.bathrooms }}</span>
            </div>
            <div class="w-third mb3">
              <span class="db f6 grey-3">Max Guests</span>
              <span class="f4 b">{{ .Params.max_guests }}</span>
            </div>
          </div>
          
          <div class="mb4">
            <h4 class="f4 b mb3">Amenities</h4>
            <ul class="property-detail__amenities">
              {{ range .Params.amenities }}
              <li class="property-detail__amenity">{{ . }}</li>
              {{ end }}
            </ul>
          </div>
          
          <div class="tc">
            <a href="/contact" class="btn btn-lg btn-block raise">Contact Us to Book</a>
          </div>
        </div>
      </div>
    </div>

    <div class="cms mw7 center ph3">
      {{ .Content }}
    </div>
  </div>
</div>

{{ end }} 